mat-toolbar {
  position: fixed;
  background-color: white;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 5;
}

img {
  height: 50px;
}

.spacer {
  flex: 1 1 auto;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 72px;
  color: #545454;
  li {
    flex: 1 1 135px;
    position: relative;
    box-sizing: border-box;
    max-width: 135px;
    min-width: 135px;
    margin-right: 7px;
    a {
      box-shadow: none;
      transition: box-shadow .8s;
      -moz-transition: box-shadow .8s;
      -o-transition: box-shadow .8s;
      -webkit-transition: box-shadow .8s;
      height: 72px;
      font-size: 15px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      place-content: center;
      align-items: center;
      &:hover {
          box-shadow:
          0 3px 3px -1px rgba(0,0,0,.25),
          0 6px 15px rgba(0,0,0,.5);
      }
      &:link, &:visited{
          text-decoration: inherit;
          color: inherit;
          cursor: default;
      }
    }
  }
}
