<div class="footer-head name-company">
  <div class="row">
    Balcones de Manzanares
  </div>
</div>

<!-- <div class="social-media">
  <a href="https://www.facebook.com/net6.com.co" mat-icon-button>
    <app-facebook></app-facebook>
  </a>
  <a href="https://instagram.com/net6telecomunicaciones" mat-icon-button>
    <app-instagram></app-instagram>
  </a>
  <a href="https://www.linkedin.com/company/net6telecomunicaciones/" mat-icon-button>
    <app-linked-in></app-linked-in>
  </a>
</div> -->
<div class="contact">
  <div class="info-content">
    <div class="info-row">
      <app-phone-mail></app-phone-mail>
      <div class="info-column">
        <h3>Ll&aacute;manos</h3>
        <span>ventas@balconesdemanzanares.com</span>
        <span>+57 310 837 3034</span>
      </div>
    </div>
  </div>
</div>

