.text {
  margin-block-start: 50px;
  margin-block-end: 10px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  font-size: 20px;
  color: #545454;
  li {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .info {
    margin-block-start: 50px;
    margin-block-end: 50px;
  }
}

.container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
  margin-block-end: 50px;
  img {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
    width: 70%;
    height: 70%;
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.image-container {
  display: inline-block;
  img {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
    width: 100%;
    max-height: auto;
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

@media (max-width: 600px) {
  .image-container{
    width: 80%;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
  }
  .container {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }

  .map {
    margin-block-start: 30px;
    margin-block-end: 30px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 720px) and (min-width: 600px) {
  .image-container{
    width: 90%;
    margin-inline-end: 23px;
    margin-inline-start: 23px;
  }
  .container {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }

  .map {
    margin-block-start: 30px;
    margin-block-end: 50px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 960px) and (min-width: 720px) {
  .image-container{
    width: 90%;
    margin-inline-end: 26px;
    margin-inline-start: 26px;
  }
  .container {
    padding-inline-start: 110px;
    padding-inline-end: 110px;
  }
  .map {
    margin-block-start: 50px;
    margin-block-end: 50px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 1200px) and (min-width: 960px) {
  .image-container{
    width: 45%;
    margin-inline-end: 28px;
    margin-inline-start: 28px;
  }
  .container {
    padding-inline-start: 80px;
    padding-inline-end: 80px;
  }

  .map {
    margin-block-start: 50px;
    margin-block-end: 50px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 1440px) and (min-width: 1200px) {
  .image-container{
    width: 45%;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
  }
  .container {
    padding-inline-start: 100px;
    padding-inline-end: 100px;
  }

  .map {
    margin-block-start: 50px;
    margin-block-end: 50px;
    img {
      width: 80%;
      height: 80%;
    }
  }
}

@media (min-width: 1440px) {
  .image-container{
    width: 29%;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
  }
  .container {
    padding-inline-start: 60px;
    padding-inline-end: 60px;
  }
  .map {
    margin-block-start: 50px;
    margin-block-end: 50px;
    img {
      width: 60%;
      height: 60%;
    }
  }
}
