<div class="container">
  <div class="image-container">
    <img src="/assets/images/_ALA8497.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8511.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8515.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8516.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8518.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8535.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8488.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8519.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8541.jpg" alt="" srcset="">
  </div>
  <!-- <div class="image-container">
    <img src="/assets/images/_ALA8545.jpg" alt="" srcset="">
  </div> -->
  <div class="image-container">
    <img src="/assets/images/_ALA8546.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8489.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8524.jpg" alt="" srcset="">
  </div>
</div>

<div class="text">
  <p>Descansa con la naturaleza disfrutando de los siguientes beneficios:</p>
  <ul>
    <li>Amplias zonas verdes</li>
    <li>Estación para recarga de vehículos eléctricos</li>
    <li>Vías internas</li>
    <li>Oratorio</li>
    <li>zona de baño para mascotas</li>
    <li>Zona común social y de niños</li>
  </ul>
  <p class="info">Lotes desde <strong>2.101 mts2</strong> desde <strong>$130.000.000</strong></p>
  <p>A 45 minutos de Medell&iacute;n:</p>
  <ul>
    <li>Lotes urbanizados con licencia de Construcción</li>
    <li>Redes de acueducto y alcantarillado</li>
    <li>Redes eléctricas subterráneas</li>
    <li>Planta de tratamiento de aguas residuales PTAR</li>
  </ul>

  <p><strong>
    Nota: Por carreta principal Medell&iacute;n - La Pintada solo quedará para vehículos particulares y livianos. (Autopistas de la prosperidad)
  </strong></p>
</div>

<div class="map">
  <img src="/assets/images/map.JPG" alt="" srcset="">
</div>
