<div class="container">
  <div class="image-container">
    <img src="/assets/images/_ALA8478.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8479.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8480.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8481.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8482.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8483.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8484.jpg" alt="" srcset="">
  </div>
  <div class="image-container">
    <img src="/assets/images/_ALA8485.jpg" alt="" srcset="">
  </div>

</div>
