.background {
  width: 100vw;
  height: 94vh;
  background:url("../../assets/images/_ALA8487.jpg") no-repeat;
  background-size: cover;
  filter: blur(10px);
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  position: relative;
}


