<div class="container">
  <div class="background"></div>
  <div class="bg-text">
    <h2>Contactanos</h2>
    <form
            #emailForm="ngForm"
            method="POST"
            accept="mailto:esteban_tj@hotmail.com">
<!-- -----------------------<name>----------------------- -->
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
                name='name'
                matInput
                placeholder="Nombre apellido"
                required
                minlength="5"
                [(ngModel)]="emailData.name"
                #name='ngModel'
              >
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
            El nombre es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.minlength">
            Debe tener almenos 5 caracteres
          </mat-error>
      </mat-form-field>
<!-- ---------------------</name>--------------------- -->
<!-- -----------------------<Correo>----------------------- -->
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input
                type="email"
                name='email'
                matInput
                placeholder="Ej. pat@example.com"
                required
                [(ngModel)]="emailData.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                #email='ngModel'
              >
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.required">
            El correo es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.pattern">
            Ingrese un correo valido
          </mat-error>
      </mat-form-field>
<!-- ---------------------</Correo>--------------------- -->
<!-- -----------------------<Contenido>----------------------- -->
      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <textarea
                type="email"
                name='content'
                matInput
                placeholder="Quiero mas información"
                required
                [(ngModel)]="emailData.content"
                #content='ngModel'
                minlength="20"
              ></textarea>
          <mat-error *ngIf="content.invalid && (content.dirty || content.touched) && content.errors?.required">
            El contenido es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="content.invalid && (content.dirty || content.touched) && content.errors?.minlength">
            Debe tener almenos 20 caracteres
          </mat-error>
      </mat-form-field>
<!-- ---------------------</Contenido>--------------------- -->
      <div class="buttons">
        <button
                type="submit"
                [disabled]="emailForm.invalid"
                mat-raised-button color="primary">Enviar</button>
        <button
                type="submit"
                (click)="emailForm.resetForm({})"
                mat-raised-button>Borrar</button>
      </div>
    </form>

  </div>
</div>
