<div class="container">
  <div class="background"></div>
  <div class="bg-text">
    <h2>Contactanos</h2>
    <form method="post" data-form-title="CONTACT US">
      <div class="form-container">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
        <textarea name="text" class="validate[required,length[6,500]] feedback-input" id="comment" placeholder="Comment"></textarea>
        <button type="submit" class="btn btn-lg btn-danger">CONTACT US</button>

      </div>
    </form>
  </div>
</div>
